<%= form_tag("/email_subscriptions/create", method: "post", class: "form-horizontal") do %>
  <legend>Subscribe using below form</legend>
  <% if flash[:status] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-<%- if flash[:status] == 'error' %>danger<% else %>success<% end %>">
          <%= flash[:message] %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= label_tag(:email, "Email Address", class: "col-sm-3 control-label") %>
    <div class="col-sm-8">
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter your email address", required: true, autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= submit_tag("Subscribe", class: "btn btn-primary") %>
    </div>
  </div>
<%- end %>